.stats--container {
	background-color: var(--primary-green);
}
.stats--row {
	display: flex;
	justify-content: space-around;

	color: #fff;
}

.stats--item {
	/* CSS properties */
	text-align: center;
}

.stats--number {
	font-size: 2.5rem;
	margin-bottom: 10px;
}

.stats--type {
	/* CSS properties */
}
