.testimonials--container {
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	gap: 35px;
}

.testimonials--left {
	grid-column: span 1 / span 1;
}
.testimonials--right {
	grid-column: span 2 / span 2;
	margin-top: 20px;
}

.testimonials--cards {
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	gap: 50px;
}

.testimonials--card {
	text-align: center;
	background-color: #fff;
	padding: 30px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.testimonials--quotes {
	display: inline;
}

.testimonials--start-quote {
	display: inline;
}

.testimonials--comment{
	font-weight: 500;
	color: var(--secondary-grey);
	line-height: 25px;
	display: inline;
}
.testimonials--end-quote {
	transform: rotate(180deg);
	display: inline;
}

.testimonials--user {
	/* CSS properties */
}

.testimonials--user-image {
	border-radius: 100%;
	width: max-content;
	height: 100px;
	margin: 10px 0;
}
.testimonials--user-name {
	font-size: 1rem;
}
.testimonials--user-exp {
	color: var(--primary-grey);
	margin-top: 10px;
	font-size: 0.9rem;
}
