.contact--boxes {
	display: grid;
	gap: 25px;
	grid-template-columns: repeat(4, minmax(0, 1fr));

	.contact--left-col {
		display: grid;
		gap: 25px;
	}
	.contact--contacts-box {
		display: grid;
		grid-template-columns: repeat(4 minmax(0, 1fr));
		gap: 25px;
	}
}

.contact--card {
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	text-align: center;
	background-color: #fff;
	padding: 25px;

	.contact--icon {
		height: 30px;
	}

	.contact--title {
		font-size: 1.4rem;
		margin-top: 10px;
		margin-bottom: 10px;
		color: $section-title-color;
	}

	.contact--sub-title {
		font-size: 0.9rem;
	}
}

.contact--address-card {
	grid-column: span 2 / span 2;
}
.contact--map-card {
	grid-column: span 2 / span 2;
}
.contact--form-card {
	grid-column: span 2 / span 2;
}
