@mixin font-poppins {
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-style: normal;
}

html {
	@include font-poppins;
	scroll-behavior: smooth;
}
$theme-color-1: #762bdc;
$theme-color-2: #613ef1;

$section-padding: 50px;
$section-title-color: #444444;
$alt-section-bg: #f9f8ff;

.section-padding {
	padding-left: $section-padding;
	padding-right: $section-padding;
	padding-top: 75px;
	padding-bottom: 75px;
}
.alt-section-bg {
	background-color: $alt-section-bg;
}

// section heading
.section-heading {
	@include font-poppins;
	text-align: center;

	.section--title {
		font-size: 2rem;
		text-transform: capitalize;
		margin-top: 10px;
		margin-bottom: 10px;
		color: $section-title-color;
	}
	.section--title-light {
		color: white;
	}
	.section--desc {
		font-size: 1rem;
		color: $section-title-color;
		margin-top: 30px;
		margin-bottom: 30px;
	}
	.section--desc-light {
		color: white;
	}
}
