.hero--container {
	@include font-poppins;
	height: 100vh;
	padding-top: 34vh;
	color: white;
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	background-color: $theme-color-1;

	padding: 170px;
	padding-top: 170px;

	.hero--left {
		.hero--heading {
			font-size: 3rem;
			line-height: 60px;
			font-weight: 700;
		}
		.hero--sub-heading {
			margin-top: 20px;
			margin-bottom: 20px;
			font-weight: 500;
			line-height: 25px;
			font-size: 1.2rem;
			color: rgba(255, 255, 255, 0.723);
		}
		.hero--button {
			padding-left: 30px;
			padding-right: 30px;
			padding-top: 10px;
			padding-bottom: 10px;
			font-weight: 600;
			background: transparent;
			border: 2px solid white;
			border-radius: 4px;
			color: white;
			&:hover {
				background-color: white;
				color: $theme-color-1;
				transition: 0.6s ease-in-out;
				cursor: pointer;
			}
		}
	}

	.hero--right {
		text-align: center;
		.hero--image {
			width: 80%;
			height: 100%;
			object-fit: cover;
			text-align: center;
			animation: up-down-animation 1s infinite alternate;
		}
		@keyframes up-down-animation {
			0% {
				transform: translateY(0);
			}

			100% {
				transform: translateY(-15px);
			}
		}
	}
}
