.portfolio--container {
	.portfolio--portfolios {
		.portfolio--filter-buttons {
			text-align: center;
			display: flex;
			justify-content: center;
			margin-top: 10px;
			margin-bottom: 10px;
			// gap: 25px;
			.portfolio--btn {
				text-decoration: none;
				color: $section-title-color;
				font-weight: 600;
				padding: 20px;
				padding-top: 8px;
				padding-bottom: 8px;

				&:hover {
					background-color: $theme-color-2;
					border-radius: 10px;
					color: white;
				}
			}
		}
		.portfolio--grid {
			display: grid;
			grid-template-columns: repeat(3, minmax(0, 1fr));
			justify-content: center;
			gap: 25px;

			.portfolio--image {
				height: 100%;
				padding-bottom: 25px;
			}
		}
	}
}
