.common-head {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 2rem;
	color: var(--primary-black);
	font-family: "Raleway";
	padding-bottom: 25px;
}
.common-s-head {
	color: var(--secondary-black);
	font-family: "Open Sans";
}
.common-pad-x {
	padding-left: 55px;
	padding-right: 55px;
}
.common-pad-y {
	padding-top: 40px;
	padding-bottom: 40px;
}
.bg-secondary {
	background-color: var(--primary-stone);
}
