.about--container {
	display: flex;
	gap: 35px;
}
.about--left {
	width: 95%;
}
.about--right {
}
.about--head {
	color: var(--section-primary-color);
	font-weight: 800;
}
.about--desc {
	font-size: 1.1rem;
}
.about--features {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	gap: 25px;
}
.about--item {
	display: flex;
	gap: 25px;
	margin-top: 30px;
}
.about--logo {
	height: fit-content;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	border: 2px solid var(--primary-sky-light);
	padding: 10px;
}
.about--logo:hover {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--primary-sky);
	transition: 0.2s ease-in-out;
}
.about--logo img {
	height: 35px;
	width: 100%;
	object-fit: contain;
}
.about--logo img:hover {
	transition: 0.2s ease-in-out;
	filter: brightness(0) invert(1);
}
.about--text {
}
.about--heading {
	font-size: 1.2rem;
}
.about--sub-heading {
}
