:root {
	--section-primary-color: #0f394c;
	--section-secondary-color: #444444;

	--primary-sky: #49b5e7;
	--primary-sky-light: #74c9f157;
	--primary-sky-dark: #1c698c;

	--section-bg-primary-color: #ffff;
	--section-bg-secondary-color: #f4fbfe;
	--section-bg-gray-color: #f9f9f9;
}

.section-padding-x {
	padding-left: 55px;
	padding-right: 55px;
}
.section-padding-y {
	padding-bottom: 55px;
	padding-top: 55px;
}

.section-heading {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
}

.section--title {
	color: var(--section-primary-color);
	text-transform: uppercase;
	font-size: 1.8rem;
	font-weight: 700;
}
.section--desc {
	color: var(-- --section-secondary-color);
	font-size: 1.2rem;
}
.primary-bg-color {
	background-color: var(--section-bg-primary-color);
}
.secondary-bg-color {
	background-color: var(--section-bg-secondary-color);
}
