.header-container {
	display: flex;
	justify-content: space-between;
	padding-top: 25px;
	padding-bottom: 25px;
	position: fixed;
	width: 100%;
}
.header--logo {
}
.header---nav {
}
.nav-links {
	display: flex;
	gap: 25px;
}
.nav-link a {
	text-transform: uppercase;
	font-size: 0.9rem;
	font-weight: 500;
}
.nav-link a:hover {
	color: var(--primary-text);
}
