.hero--container {
	display: flex;
	gap: 25px;
	height: 450px;
	align-items: center;
	background-color: var(--section-bg-gray-color);
}
.hero--left {
	width: 100%;
}
.hero--heading {
	text-transform: uppercase;
	font-size: 3rem;
	color: var(--section-primary-color);
	line-height: 3rem;
	font-weight: 600;
	letter-spacing: 0.1px;
}
.hero--sub-heading {
	color: var(--primary-sky-dark);
	margin-top: 20px;
	margin-bottom: 20px;
}
.hero--btn {
	background-color: var(--primary-sky);
	border: none;
	color: #fff;
	padding: 10px;
	text-transform: uppercase;
	padding-left: 25px;
	padding-right: 25px;
}
.hero--right {
	width: 100%;
}
.hero--image {
}
