.hero--container {
	display: flex;
	gap: 25px;
	height: 450px;
	padding-top: 200px;
	padding-left: 55px;
	align-items: center;
	background-color: var(--section-bg-gray-color);
}
.hero--left {
	width: 100%;
}
.hero--heading {
	text-transform: uppercase;
	font-size: 2.5rem;
	color: var(--section-primary-color);
	line-height: 3rem;
	font-weight: 700;
	letter-spacing: 0.1px;
	padding-right: 50px;
}
.hero--sub-heading {
	color: var(--primary-sky-dark);
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 1.2rem;
}
.hero--btn {
	background-color: var(--primary-sky);
	border: none;
	color: #fff;
	padding: 10px;
	font-weight: 500;
	font-size: 1.2rem;
	text-transform: uppercase;
	padding-left: 30px;
	padding-right: 30px;
	border-radius: 3px;
}
.hero--right {
	width: 100%;
	/* box-sizing: border-box; */
}
.hero--image {
	/* transform: scale(1.4); */
	/* object-fit: contain; */
	object-fit: cover;
	object-position: 0 100%;
	width: 1000px;
}
