html {
	font-family: "Dosis", sans-serif;
	/* font-family: "Poppins", sans-serif; */
	scroll-behavior: smooth;
	transition: 0.2s ease-in-out;
}

body {
	background-image: url("https://images.unsplash.com/photo-1454117096348-e4abbeba002c?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
	background-attachment: fixed;
}
/* temporary */
/* img {
	height: 20px;
} */
