.team--grid {
	display: grid;
	grid-template-columns: repeat(4, minmax(0, 1fr));
	gap: 25px;
}

.team--item {
	background-color: #fff;
}
.team--user-image {
	border-radius: 5px;
	/* height: 100%; */
}

.team--user-detail {
	background-color: #fff;
	padding: 20px;
}
.team--user-name {
	font-size: 1.1rem;
}
.team--user-postion {
	color: #aaaaaa;
}
