.testimonials--container {
	background-image: url("../images/testimonials/bg.jpg");
	/* background-image: ; */
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
	text-align: center;
	padding-left: 180px;
	padding-right: 180px;
	padding-top: 100px;
	padding-bottom: 100px;
}
.testimonial--user {
}
.testimonial-user-image-ctn {
	display: flex;
	justify-content: center;
	margin-bottom: 10px;
}
.testimonial--user-image {
	/* display: block; */
	height: 120px;
	border: 8px solid rgba(255, 255, 255, 0.153);
	border-radius: 100%;
}
.testimonials--user-name {
	font-size: 1.2rem;
}
.testimonial--user-work {
	color: #ffffffba;
}
.testimonials--user-comment {
	font-size: 1.2rem;
	margin-top: 20px;
}
