.common-section {
	padding-top: 40px;
	padding-bottom: 40px;
	text-align: center;
}
.common-head {
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 2rem;
	color: var(--primary-grey);
	font-family: "Raleway";
}
.head-shadow:before {
	content: attr(data-title);
	transform: translateY(-10px) scale(1.8);
	position: absolute;
	margin-top: -10px;
	opacity: 0.06;
}
.common-s-head {
	color: var(--primary-grey);
	text-align: center;
	font-family: "Open Sans";
}
.common-pad-x {
	padding-left: 55px;
	padding-right: 55px;
}
.common-pad-y {
	padding-top: 40px;
	padding-bottom: 40px;
}
.bg-secondary {
	background-color: var(--primary-stone);
}
