.header-container {
	z-index: 1;
	position: fixed;
	width: 100vw;
	background: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: var(--primary-grey);
	padding-top: 15px;
	padding-bottom: 15px;
	box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
}
.nav-logo {
	font-size: 2rem;
	font-weight: 700;
}
.nav-bar {
	display: flex;
	align-items: center;
	gap: 1.8rem;
}
.nav-list {
	display: flex;
	align-items: center;
	gap: 1.7rem;
}
.nav-link a {
	font-weight: 700;
	color: var(--primary-grey);
}
.nav-link a:hover {
	transition: 0.3s ease-in;
	color: var(--primary-green);
}
.nav-btn {
	font-size: 0.9rem;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 5px;
	padding-bottom: 5px;
	background: transparent;
	border: 1px solid rgba(120, 120, 120, 0.295);
	border-radius: 5px;
}
.nav-btn:hover {
	transition: 0.3s ease-in;
	background-color: var(--primary-blue);
	color: #fff;
}
