.hero--container {
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	justify-content: center;
	align-items: center;
}
.hero--head {
	font-size: 3rem;
	line-height: 60px;
}
.hero--sub-head {
}
.hero-button {
}
.hero--right {
}
.hero--img {
	width: 100%;
	z-index: -1;
}
