:root {
	--primary-black: #3e4450;
	--primary-grey: #5f687b;
	--secondary-grey: #858ea1;
	--primary-stone: #f9f9fa;
	--primary-green: #16df7e;
	--primary-blue: #206bfb;
}
* {
	font-family: "Open Sans", sans-serif;
}
