.contact-boxes {
	display: flex;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	gap: 20px;
	width: 100%;
}

.contact-card {
	width: 100%;
	background-color: white;
	text-align: center;
	color: var(--desc-text-color);
	padding: 20px;
}

.contact-card img {
	height: 30px;
}

.row-email-call {
	display: flex;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	width: 100%;
	gap: 20px;
}

.row-email-call div {
	width: 100%;
}

.address-map {
	margin-top: 20px;
	width: 100%;
	object-fit: cover;
}

.contact-form {
	margin-top: 20px;
	text-align: center;
	display: flex;
	flex-direction: column;
}

.contact-form input {
	display: block;
	margin: 10px;
	padding: 15px;
	border: 1px solid var(--form-border-color);
	color: var(--desc-text-color);
	font-size: 15px;
	border-radius: 4px;
}

.contact-row-1 input {
	width: 100%;
}

.col {
	width: 100%;
}

.contact-form button {
	display: block;
	background-color: var(--theme-color);
	margin: 10px;
	padding: 15px;
	padding-left: 18px;
	padding-right: 18px;
	color: white;
	border: none;
	border-radius: 3px;
}

.contact-row-1 {
	display: flex;
}
