.features-section {
	margin-left: 40px;
	margin-right: 40px;
}

.features {
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
}

.features-item img {
	height: 40px;
	fill: green;
}

.features-item {
	display: flex;
	justify-content: center;
	align-items: center;
}
