.footer-section {
	background-color: #643ceb;
	color: white;
	text-align: left;
}

.footer-section hr {
	background-color: rgba(255, 255, 255, 0.322);
	height: 2px;
	border: none;
}

.footer-section__row {
	display: flex;
	grid-template-columns: repeat(4, minmax(0, 1fr));
	width: 100%;
	gap: 20px;
	/* padding-top: 45px; */
	padding-bottom: 45px;

}

.footer-section__row .section-links-container {
	width: 100%;
	padding: 20px;
}

.footer-section__row .section-links-container ul li {
	margin-top: 10px;
	font-size: 15px;
}

.footer-section__row .section-links-container ul li a:hover {
	text-decoration: underline;

}

.section-address span {
	margin-top: 10px;
}

a {
	color: rgba(255, 255, 255, 0.787);
}

.footer-section__copyrights {
	padding: 20px;
	display: flex;
	justify-content: space-between;
	/* padding-bottom: 20px; */
}

.copyright-text p {
	margin-top: 10px;
	font-size: 15px;
}

.footer-social-links {
	/* height: 500px; */
	gap: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

}

.footer-social-links a {
	display: flex;
	padding: 10px;
	background-color: #8f69c05c;
	border-radius: 100%;
}


.footer-social-links a img {
	/* fill */
	filter: grayscale(1) invert(1);
	height: 20px;
	/* background-color: #583535; */
}

.section-links-container {
	line-height: 30px;
}

.section-links-container h2 {
	font-size: 1.1rem;
	margin-bottom: 20px;
}

.section-address div {
	margin-top: 20px;
}

.link-forward {
	height: 15px;
	filter: grayscale(1) invert(1);
}