.footer-section {
	background-color: #643ceb;
	color: white;
	text-align: left;
}

.footer-section__row {
	display: flex;
	grid-template-columns: repeat(4, minmax(0, 1fr));
	width: 100%;
	gap: 20px;
}

.footer-section__row .section-links-container {
	width: 100%;
	padding: 20px;
}

.footer-section__row .section-links-container ul li {
	margin-top: 20px;
}

.section-address span {
	margin-top: 10px;
}

a {
	color: white;
}
