:root {
	/* colors  */
	--text-color-primary: #fff;
	--text-color-primary-dark: #000000;
	--text-color-secondary: rgba(255, 255, 255, 0.7);
	--text-color-secondary-dark: #444444;

	--theme-color: #5846f9;
	--theme-gradient-bg: linear-gradient(90deg, rgba(92, 66, 245, 1) 0%, rgba(122, 40, 217, 1) 100%);
	--alter-bg-color: #f9f8ff;
	--desc-text-color: #444444;
	--user-sub-heading-text-color: #999;

	/* pricesection */
	--sub-title-text-color: rgb(69, 68, 68);
	--sub-title-bg-color: #f8f8f8;

	/* contact section  */
	--form-border-color: #847f7f3c;

	/* padding  */
	--section-padding-left: 40px;
	--section-padding-right: 40px;
	--section-padding-top: 80px;
	--section-padding-bottom: 80px;

	/* button */
	--button-br : 3px;
}

* {
	font-family: "Poppins", sans-serif;
	margin: 0;
	padding: 0;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

li,
summary {
	list-style: none;
}

/* summary {list-style: none} */
/* section global styles   */
.section-title {
	text-align: center;
	font-size: 2rem;
	color: rgb(69, 68, 68);
	font-weight: 800;
	padding-bottom: 30px;
	display: block;
}

.section-title::after {
	/* display: block;
	content: '_';
	width: 40px;
	text-align: center;
	border-bottom: 12px solid #5846f9; */

	/* content: '';
	border-bottom: 3px solid #000;
	width: 10px;
	display: block; */

	content: '';
	border-bottom: 4px solid var(--theme-color);
	width: 40px;
	display: block;
	position: relative;
	top: 20px;
	left: calc(50% - 40px);
}

.section-title-light {
	color: rgb(255, 255, 255);
}

.section-bg-alter {
	background-color: var(--alter-bg-color);
}

.section-desc {
	text-align: center;
	line-height: 30px;
	letter-spacing: 0.3px;
	color: var(--desc-text-color);
	margin-bottom: 40px;
}

.section-desc-light {
	color: white;
}

.section-margin {
	padding-left: var(--section-padding-left);
	padding-right: var(--section-padding-right);
	padding-top: var(--section-padding-top);
	padding-bottom: var(--section-padding-bottom);
}

.box-shadow-med {
	box-shadow: 0 4px 8px 0 rgba(97, 87, 87, 0.2), 0 6px 20px 0 rgba(98, 89, 89, 0.19);
}

.box-shadow-sm {
	box-shadow: 0 2px 4px 0 rgba(98, 91, 91, 0.103), 0 3px 30px 0 rgba(112, 102, 102, 0.068);
}
