:root {
	--alter-bg-color: #f9f8ff;
	--desc-text-color: #444444;
	--user-sub-heading-text-color: #999;
}

* {
	font-family: "Poppins", sans-serif;
}

li {
	list-style: none;
}

/* section global styles   */
.section-title {
	text-align: center;
	font-size: 2rem;
	color: rgb(69, 68, 68);
	font-weight: 800;
	padding-bottom: 30px;
	padding-top: 90px;
}

.section-bg-alter {
	background-color: var(--alter-bg-color);
}

.section-desc {
	text-align: center;
	line-height: 30px;
	letter-spacing: 0.3px;
	color: var(--desc-text-color)
}

.section-margin {
	padding-left: 40px;
	padding-right: 40px;
}