.testimonial-containers {
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	justify-content: space-around;
}

.testimonial-card {
	padding: 10px;
	margin: 10px;
}

.testimonail-quotes {
	background: white;
	padding: 20px;
	border-radius: 6px;
	padding-bottom: 70px;
	color: var(--desc-text-color);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.testimonial-user {
	margin-left: 20px;
	position: relative;
	top: -40px;
}

.testimonial-user h2 {
	font-size: 1.3rem;
	margin: 0;
	margin-bottom: 4px;
	font-weight: 800;
	color: #2c4964;
}

.testimonial-user span {
	font-weight: 700;
	margin-top: 10px;
	color: var(--user-sub-heading-text-color);
}

.testimonail-quotes .end-quote {
	transform: rotate(180deg);
}

.testimonail-quotes p {
	display: inline;

}

.testimonial-user-image {
	width: 90px;
	box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	height: 90px;
	object-fit: cover;
	border-radius: 100%;
	border: 5px solid white;
}

svg {
	fill: aqua;
}